<h5>Members Only</h5>
<p>
  is an exclusive clubhouse where members can write embarrassing posts about
  non-members. Inside the clubhouse, members can see who the author of a post
  is, but outside they can only see the story and wonder who wrote it.
</p>
<p>Please <a href="/register">Register</a> to create messages.</p>
<p>Already a member? <a href="/login">Login</a></p>
