<h5>Welcome to Members Only!</h5>
<p>
  <a href="/users/join">Join the club</a> of of if you would like to be able to
  see who the author of messages are. You're going to need a
  <a href="#" data-toggle="tooltip" data-trigger="click" title="42">"secret"</a>
  passcode though!
</p>